.contact-container {
  background-image: var(--bg-image);
  position: absolute;
  top: calc(4 * 100vh);
  /* border: 1px solid rgb(83, 170, 56); */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
  gap: 10%;
}

.contact {
  width: max-content;
  /* border: 1px solid rgb(56, 128, 170); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  color: white;
  font-size: 60px;
  font-weight: 700;
  /* flex-grow: 0.5; */
}

.c-underline {
  width: 60%;
  height: 10px;
  background-color: var(--primary);
}

.c-methods {
  /* border: 1px solid rgb(170, 56, 56); */
  width: 60%;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.all-contacts {
  display: flex;
  gap: 2%;
  text-decoration: none;
  color: white;
}

.thanks {
  color: var(--primary);
  font-size: 30px;
}

.email {
  color: rgb(255, 166, 0);
}

.phone {
  color: rgb(0, 4, 7);
}
.location {
  color: #d60000;
}

.linkedin {
  color: #0e81f5;
}

.github {
  color: black ;
}