a, a:-webkit-any-link {
  text-decoration: none !important;
  cursor: pointer;
}

.grid-home {
  /* background-image: var(--bg-image); */
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  /* border: aqua 1px solid; */
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr ;
  grid-template-rows: auto 25%;
}

.resume {
  color: var(--primary) !important;
}

.home-main {

  grid-column: span 2;
  padding-left: var(--left-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-qoute {
  /* border: rgb(255, 217, 0) 1px solid; */
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  padding-left: var(--left-padding);
  /* align-items: center; */
}

.hi {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
  z-index: 100;
}

.name-container {
  position: relative;
  display: flex;
  width: max-content;
  overflow: hidden;
  animation: typing 2s  steps(21)  ;
}
.name-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  animation: blink 0.5s steps(3) infinite, disapear 0.5s  2s forwards;
}

.im-name {
  color: white;
  font-size: 80px;
  font-weight: 700;
  z-index: 100;
}

.developer {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
  z-index: 100;
}

.qoute {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
  z-index: 100;
}


.photo-container {
  position: absolute;
  top: 20%;
  left: 65%;
  /* border: 1px rgb(241, 151, 14) solid; */
  height: 500px;
  width: 380px;
  /* background-color: #303137; */
  /* overflow: hidden; */
}

.photo {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  transform: rotateZ(10deg) rotateY(180deg);
  box-shadow: -5px 5px 5px rgb(68, 67, 67);
  border-radius: 10px;
  /* clip-path: circle(90% at 100% 100%); */
}
.mypic {
  top: 5px;
  left: 5px; 
  z-index: 3;
}
.mypic2 {
  top: 10px;
  left: 10px;
  z-index: 2;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}
.mypic3 {
  top: 15px;
  left: 15px; 
  z-index: 1;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}

@keyframes typing{
  0% {
    width: 1px;
  }
  
  100% {
    width: 839px;
  }
}


@keyframes blink{
  0%,75% {
    opacity: 1;
  }
  
  76%,100% {
    opacity: 0;
  }
}

@keyframes disapear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .home-main{
    padding-left: 5%;
    align-self: end;
    margin-bottom: 100px;
  }
  .im-name {
    font-size: 33px;
  }
  .hi, .developer, .qoute {
    font-size: 18px;
  }

  .grid-home{
    grid-template-rows: 2fr 1fr;
  }
  .home-qoute {
    align-self: center;
  }
  .photo {
    transform: none;
    width: 100vw;
    max-height: 100vh;
    top: 100px;
    border-radius: 0px;
    opacity: 0.6;
  }
  .mypic2, .mypic3 {
    display: none;
  }
  .photo-container{
    top: 0;
    left: 0;
    z-index: 1;
    animation: fade-entry 4s linear;
  }
  .im-name, .hi, .developer, .qoute {
    text-shadow: 2px 2px 2px #303137;
  }
}