a, a:-webkit-any-link {
  text-decoration: none !important;
  cursor: pointer;
}

.grid-home {
  background-image: var(--bg-image);
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  /* border: aqua 1px solid; */
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr ;
  grid-template-rows: auto 25%;
}

.resume {
  color: var(--primary) !important;
}

.home-main {
  grid-column: span 2;
  padding-left: var(--left-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-qoute {
  /* border: rgb(255, 217, 0) 1px solid; */
  grid-column: span 2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.hi {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
}

.name-container {
  position: relative;
  display: flex;
  width: max-content;
  overflow: hidden;
  animation: typing 2s  steps(21)  ;
}
.name-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  animation: blink 0.5s steps(3) infinite, disapear 0.5s  2s forwards;
}

.im-name {
  color: white;
  font-size: 80px;
  font-weight: 700;
}

.developer {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
}

.qoute {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
}


@keyframes typing{
  0% {
    width: 1px;
  }
  
  100% {
    width: 839px;
  }
}


@keyframes blink{
  0%,75% {
    opacity: 1;
  }
  
  76%,100% {
    opacity: 0;
  }
}

@keyframes disapear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .home-main{
    padding-left: 5%;
    align-self: end;
    margin-bottom: 100px;
  }
  .im-name {
    font-size: 33px;
  }
  .hi, .developer {
    font-size: 20px;
  }
  .qoute{
    font-size: 20px;
  }

  .grid-home{
    grid-template-rows: 2fr 1fr;
  }
  .home-qoute {
    align-self: center;
  }
}