.projects-container {
  width: 100vw;
  height: 100vh;
  border: solid 1px darkblue;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 5%;
}

.projects-grid {
  border: solid 1px rgb(12, 139, 0);
  width: 90%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
}

.project-card {
  border: solid 1px rgb(139, 0, 0);
  height: 100%;
}