@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary: #08fdd8;
  --left-padding: 50px;
  --main-font: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23252e;
  /* max-width: 100px; */
  height: auto;
  position: relative;
  font-family: var(--main-font);
}

