@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary: #08fdd8;
  --left-padding: 60px;
  --main-font: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  --max-width: 1250px;
  --bg-image:  none;
  --huge-font: 80px;
  --medium-font: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23252e;
  /* background-image: linear-gradient(to left top, #051937, #133660, #1d568c, #1f79bb, #129eeb); */
  /* max-width: 100px; */
  height: auto;
  position: relative;
  font-family: var(--main-font);
}

.background {
  position: fixed;
  z-index: -2;
  background-color: #23252e;
  /* background-image: url('/src/images/bgImage.jpg'); */
  height: 100vh;
  width: 100vw;
}

@media (max-width: 1024px) {
  .container {
    position: static !important;
  }
  .background {
   background-color: #23252e;
   background-image: none;
  }
} 

